<!-- index.html (Django template) -->
{% extends '../base/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block header %}
<div class="header-block text-header-cc1">
    <h1 class="title-header" data-text="OmniBus" contenteditable>OmniBus</h1>
    <div class="gradient"></div>
    <div class="spotlight"></div>
</div>
{% endblock %}

{% block header-content %}
<style>
     @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
     .sun-container {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-top: 0rem;
        width:  100%;
        height: 1500px;
    }
    audio {
        display:none;
    }

</style>
<div class="sun-container">
    <audio controls autoplay=false>
      <source src="{% static 'src/assets/sounds/themeSound.mp3' %}" type="audio/mpeg" />
      <!--<source src="../static/assets/sound/themeSound.mp3" type="audio/ogg" />-->
    </audio>
</div>
<script type="module" src="{% static 'src/js/global/Sun.js' %}"></script>
{% endblock %}
{% block center-content %}
    <style>
        .intro-container {
            position: relative;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            font-size: 115px;
            margin-top: -0.5em;
            margin-left: -0.5em;
            border-radius: 50%;
            box-sizing: border-box;
            pointer-events: none;
            transition: visibility 200ms linear, opacity 200ms linear;
        }
        @media screen and (min-width: 460px) {
            .intro-container {
              font-size: calc(115px + 41 * ((100vw - 460px) / 1460));
            }
        }

        @media screen and (min-width: 1920px) {
            .intro-container {
              font-size: 156px;
            }
        }

        .intro-container.is-hidden {
            opacity: 0;
            visibility: hidden;
        }

        .intro-container svg {
            display: block;
            width: 100%;
            height: 100%;
            transform: rotate(-90deg);
        }

        @keyframes fadeLoader {
            33.333%, 99.999% { opacity: 0; }
            0%, 100% { opacity: 0.5; }
        }

        @keyframes moveLoader {
            0% { transform: rotate(0deg); animation-timing-function: cubic-bezier(1, 0, 0, 1); }
            12.5% { transform: rotate(45deg); animation-timing-function: cubic-bezier(1, 0, 0, 1); }
            25% { transform: rotate(90deg); animation-timing-function: cubic-bezier(1, 0, 0, 1); }
            37.5% { transform: rotate(135deg); animation-timing-function: cubic-bezier(1, 0, 0, 1); }
            50% { transform: rotate(180deg); animation-timing-function: cubic-bezier(1, 0, 0, 1); }
            62.5% { transform: rotate(225deg); animation-timing-function: cubic-bezier(1, 0, 0, 1); }
            75% { transform: rotate(270deg); animation-timing-function: cubic-bezier(1, 0, 0, 1); }
            87.5% { transform: rotate(315deg); animation-timing-function: cubic-bezier(1, 0, 0, 1); }
            100% { transform: rotate(360deg); animation-timing-function: cubic-bezier(1, 0, 0, 1); }
        }

        @keyframes circleLoader {
            0% { opacity: 0; transform: scale(0.2); transition-timing-function: ease-in-out; }
            50% { opacity: 1; transform: scale(1); transition-timing-function: ease-in-out; }
            100% { opacity: 0; transform: scale(1); }
        }

        .intro-container .loader-circle {
            transform-origin: 50% 50%;
            animation: fadeLoader 2s linear infinite;
        }
        .intro-container .loader-circle:nth-child(1) { transform: none; animation-delay: -2s; }
        .intro-container .loader-circle:nth-child(2) { transform: rotate(45deg); animation-delay: -1.75s; }
        .intro-container .loader-circle:nth-child(3) { transform: rotate(90deg); animation-delay: -1.5s; }
        .intro-container .loader-circle:nth-child(4) { transform: rotate(135deg); animation-delay: -1.25s; }
        .intro-container .loader-circle:nth-child(5) { transform: rotate(180deg); animation-delay: -1s; }
        .intro-container .loader-circle:nth-child(6) { transform: rotate(225deg); animation-delay: -0.75s; }
        .intro-container .loader-circle:nth-child(7) { transform: rotate(270deg); animation-delay: -0.5s; }
        .intro-container .loader-circle:nth-child(8) { transform: rotate(315deg); animation-delay: -0.25s; }

        .intro-container .moving-circle {
          animation: moveLoader 2s linear infinite;
          transform-origin: 50% 50%;
        }
        .intro-container .circle {
          animation: circleLoader 2s linear infinite;
          transform-origin: 50% 50%;
        }
        .intro-container .circle:nth-child(2) {
          animation-delay: -1s;
        }

        .panel-block-nt {
          border-radius: 20px;
          width: 800px;
          height: 400px;
          display: inline-block;
          position: relative;
          padding: 2rem 2rem;
        }

        .panel-block-wrapper {
          width: 100%;
          height: 100%;
          display: flex;
          padding-bottom: 20rem;
          flex-direction: column;
          align-items: center;
          position: relative;
          z-index: 99;
        }

        .circle {
            background: rgb(255,255,255);
            border-radius: 100%;
            cursor: pointer;
            position: relative;
            margin: 0 auto;
            width: 15em; height: 15em;
            overflow: hidden;
            -webkit-transform: translateZ(0);
               -moz-transform: translateZ(0);
                -ms-transform: translateZ(0);
                    transform: translateZ(0);
        }

        .circle h1 {
            color: rgba(189, 185, 199,0);
            font-family: 'Lato', sans-serif;
            font-weight: 900;
            font-size: 1.6em;
            line-height: 8.2em;
            text-align: center;
            text-transform: uppercase;
            -webkit-font-smoothing: antialiased;
            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
            -webkit-transition: color 0.8s ease-in-out;
               -moz-transition: color 0.8s ease-in-out;
                -ms-transition: color 0.8s ease-in-out;
                    transition: color 0.8s ease-in-out;
        }

        #instructions {
          position: absolute;
          color: #666;
          bottom: 0;
          padding-bottom: 6px;
          font-family: sans-serif;
          width: 100%;
          text-align: center;
          pointer-events: none;
        }


        .circle:before,
        .circle:after {
            border-radius: 100%;
            content:"";
            position: absolute;
            top: 0; left: 0;
            width: inherit; height: inherit;
            box-shadow: inset 10.6em 0 0 rgba(30, 140, 209, 0.2),
                        inset 0 10.6em 0 rgba(30, 140, 209, 0.2),
                        inset -10.6em 0 0 rgba(30, 140, 209, 0.2),
                        inset 0 -10.6em 0 rgba(30, 140, 209, 0.2);
            -webkit-transition: box-shadow 0.75s;
               -moz-transition: box-shadow 0.75s;
                -ms-transition: box-shadow 0.75s;
                    transition: box-shadow 0.75s;
        }

        .circle:after {
            -webkit-transform: rotate(45deg);
               -moz-transform: rotate(45deg);
                    transform: rotate(45deg);
        }

        .circle:hover:before,
        .circle:hover:after {
            box-shadow: inset 0.86em 0 0 rgba(255, 0, 0, 0.5),
                        inset 0 0.86em 0 rgba(252, 150, 0, 0.5),
                        inset -0.86em 0 0 rgba(0, 255, 0, 0.5), 
                        inset 0 -0.86em 0 rgba(0, 150, 255, 0.5);
        }

        .circle:hover > h1 {
            color: rgba(185, 185, 185,1);
        }

        #intro-container {
          grid-column: 1;
          grid-row: 1;
          border-radius: 25px;
          padding: 10px 20px;
          justify-content: center;
          position: relative;
          top: -15rem;
          background: #73AD21;
          width: 400px;
          height: 200px; 
          z-index: 999; 
        }
          
        .panel-block-nt {
            transform: perspective(750px) translate3d(0px, 0px, -250px) rotateX(27deg) scale(0.9, 0.9); 
            border-radius: 20px;
            width: calc(100% - 50px);
            height: calc(100% - 50px);
            padding-top: 30rem;
            display: grid;
            position: relative;
            left: 50%;
            border: 5px solid #e6e6e6;
            box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
            background: #5A3F37;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #2C7744, #5A3F37);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #2C7744, #5A3F37); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            border-radius: 16px;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 255, 255, 0.3);
            transition-property: all 4s ease;
        }

        .panel-block-nt::before {
          content: "";
          position: absolute;
          top: 0;
          left: -100%;
          width: 100%;
          height: 100%;
          background: #4158D0; 
          border-radius: 16px;
          background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
          z-index: 2;
          opacity: 0.5;
          display: none;
          transition: opacity 2s ease, transform 3s ease; /* Transition both opacity and transform */
        }

        .panel-block-nt:hover::before,
        .panel-block-nt:focus::before {
          animation: anim-swipe 2s forwards;
          display: block;

        }

       @keyframes anim-expand {
          0% { transform: perspective(750px) translate3d(0, 0, -250px) rotateX(27deg) scale(0.9, 0.9); }
          100% { transform: perspective(750px) translate3d(0, 0, 0) rotateX(0deg) scale(1, 1); }
        }


        .panel-block-nt:hover, .panel-block-nt:focus{
            width: 100%;
            max-width: 1500px;
            height: 100%;
            animation: anim-expand 2s forwards;
        }
      
    </style>
    <div class="panel-block panel-block-wrapper">
        <div class="panel-block panel-block-nt">
            <div class="panel-block-nest panel-block-ns1">
                <p class="font-aeonik text-3.5xl xl:text-4xl mb-2 text-white">RLHF</p>
                <p class="text-zinc-400">Powering the next generation of Generative AI</p>
                <p class="my-8 text-[#F5F5F5]">Scale Generative AI Data Engine powers the most advanced LLMs and generative models in the world through world-class RLHF, data generation, model evaluation, safety, and&nbsp;alignment.</p>
                <div class="flex flex-block flex-left">
                    <a style="-webkit-tap-highlight-color:transparent" class="relative focus-visible:outline outline-[rgba(255,255,255,0.64)] rounded-xl outline-offset-[3px] inline-block" href="https://dashboard.scale.com/signup?product=rapid&amp;redirect_url=%2Frapid">
                        <div class="button-primary">AI Initialtive
                            <span class="inline-block ml-1 font-normal duration-300 w-fit transition-translate group-hover:translate-x-1 font-unicode">
                            </span>
                        </div>
                        <span class="border border-white absolute inset-0 select-none pointer-events-none rounded-[11px]">
                        </span>
                    </a>
                </div>
            </div>
            <div class="panel-block-nest panel-block-ns1">
                <p class="intro-container video-content">
                <div class="abs-fil video-player-U8ZHeYE has-top-navigation-1bWxIhl" style="">
                    <video src="https://storage.googleapis.com/gweb-gc-nasa-fdl.appspot.com/movies/sun.mp4" playsinline="" style="width: 1154.28px; height: 652px;">
                    </video> 
                    <button title="Click to play" class="play-button-1Ph1V-3" style="" data-can-touch="true">
                        <span data-icon="play" class="icon-IOxSc_E icon-1hiJo9K">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 156 156">
                                <g class="outline-group" data-svg-origin="78 78.00000238418579" transform="matrix(1,0,0,1,-0.000002050399780273436,0.0000022411346435546855)" style="transform-origin: 0px 0px 0px;">
                                    <circle class="outline" cx="78" cy="78" r="76.5" fill="none" stroke-width="3" stroke="#fff" data-svg-origin="78 78" transform="matrix(0,-1,1,0,0,156)" style="stroke-dashoffset: 1e-05; stroke-dasharray: none; opacity: 1; transform-origin: 0px 0px 0px;">
                                    </circle>
                                    <g opacity=".1">
                                        <path class="circle" d="M78 26.18A51.82 51.82 0 1126.18 78 51.88 51.88 0 0178 26.18m0-1A52.82 52.82 0 10130.82 78 52.82 52.82 0 0078 25.18z" fill="#fff" data-svg-origin="78.0000114440918 78.00000381469727" transform="matrix(1,0,0,1,0,0)" style="opacity: 1; transform-origin: 0px 0px 0px;">
                                        </path>
                                        <path class="rect" fill="none" stroke="#fff" d="M25.25 25.25h105.5v105.5H25.25z" data-svg-origin="78 78" transform="matrix(0,1,-1,0,156,0)" style="stroke-dashoffset: 1e-05; stroke-dasharray: none; transform-origin: 0px 0px 0px;">
                                        </path>
                                        <path class="line" fill="none" stroke="#fff" d="M25.5 25.5l105 105M130.5 25.5l-105 105" data-svg-origin="78 78" transform="matrix(0,1,-1,0,156,0)" style="stroke-dashoffset: 1e-05; stroke-dasharray: none; transform-origin: 0px 0px 0px;">
                                        </path>
                                     </g>
                                </g>
                                <path class="arrow" d="M86.5 78l-15 9V69z" fill="#fff" data-svg-origin="79 78" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px 0px;">
                                </path>
                        </svg>
                    </span>
                </button>
                <nav class="controls-2spBCqG" style="">
                    <div class="progress-3akKVtl">
                        <p class="progress-time-1VTJ7Mb">
                            <span style="top: 48.5645%;">0:58</span>
                        </p> 
                        <div class="progress-wrapper-3eG8rIt">
                            <span class="progress-indicator-20mUKBb" style="height: 48.5645%;"></span>
                        </div>
                    </div> 
                    <ul class="options-1y5wsCL">
                        <li>
                            <button title="Toggle play" class="option-button-37UGZlC">
                                <span data-icon="play-pause" class="icon-IOxSc_E">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                                    <path d="M22 16l-11 6.5v-13z" fill="#fff" class="inactive"></path>
                                    <path d="M11 22.5h3v-13h-3zm7-13v13h3v-13z" fill="#fff" class="active"></path>
                                    </svg>
                                </span>
                            </button>
                        </li> 
                        <li>
                            <button title="Toggle mute" class="option-button-37UGZlC is-active-1Mw-4AB">
                                <span data-icon="sound-on-off" class="icon-IOxSc_E">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                                    <g class="inactive" fill="#fff">
                                        <path d="M20.84 9.49l-3.34 3.34V9.5l-4.99 4h-3v5h2.32l-3.34 3.34.68.67 12.34-12.35-.67-.67zM17.5 22.5v-7.33l-4.06 4.07 4.06 3.26z">
                                        </path>
                                    </g>
                                    <g class="active">
                                        <path fill="#fff" fill-rule="evenodd" d="M9.51 13.5v5h3l4.99 4v-13l-4.99 4h-3z"></path>
                                        <path d="M19.74 9.46v4a2.78 2.78 0 013 2.5 2.78 2.78 0 01-3 2.5v4a6.76 6.76 0 007-6.5 6.76 6.76 0 00-7-6.5z" fill="#fff" fill-rule="evenodd" opacity=".4"></path>
                                    </g>
                                    </svg>
                                </span>
                            </button>
                        </li>
                    </ul>
                </nav>
                <div class="skip-circle">
                    <h1>codrops</h1>
                </div>
                </p>
            </div>
        </div>
        <div class="panel-block panel-block-nt">
            <div class="block-container">
                <p id="infor-container">
                    <div id="three-container"></div>
                    <div id="instructions">
                      click and drag to control the animation
                    </div>
                </p>
            </div>
        </div>
        <div class="panel-block panel-block-nt">
            <div class="block-container">
                <p id="infor-container">
                    <div id="three-container"></div>
                    <div id="instructions">
                      click and drag to control the animation
                    </div>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer-content %}
    <style>

        @import url(https://fonts.googleapis.com/css?family=Google+Sans:400,500,700); /*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
        img {
            border-style: none
        }

        button,input,optgroup,select,textarea {
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0
        }

        button,input {
            overflow: visible
        }

        button,select {
            text-transform: none
        }

        [type=button],[type=reset],[type=submit],button {
            -webkit-appearance: button
        }

        [type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
            border-style: none;
            padding: 0
        }

        [type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
            outline: 1px dotted ButtonText
        }

        fieldset {
            padding: .35em .75em .625em
        }

        legend {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            color: inherit;
            display: table;
            max-width: 100%;
            padding: 0;
            white-space: normal
        }

        progress {
            vertical-align: baseline
        }

        textarea {
            overflow: auto
        }

        [type=checkbox],[type=radio] {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0
        }

        [type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
            height: auto
        }

        [type=search] {
            -webkit-appearance: textfield;
            outline-offset: -2px
        }

        [type=search]::-webkit-search-decoration {
            -webkit-appearance: none
        }

        ::-webkit-file-upload-button {
            -webkit-appearance: button;
            font: inherit
        }

        details {
            display: block
        }

        summary {
            display: list-item
        }

        [hidden],template {
            display: none
        }

        ol,ul {
            margin: 0;
            padding: 0
        }

        img {
            display: block
        }

        .abs-fill {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 999!important;
            position: absolute
        }

        .list-3hT5gqk {
            list-style: none
        }

        .item-1HvyNCG {
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d
        }

        .title-1syJ-dL {
            font-weight: 700
        }

        .main-navigation-devices-3qGvllD {
            top: 50%;
            left: 50%;
            position: absolute;
            list-style: none;
            width: 40%;
            max-width: 33.5rem;
            z-index: 1;
            -webkit-transform: translate(-50%,-82.5%);
            transform: translate(-50%,-82.5%)
        }

        .main-navigation-devices-3qGvllD:before {
            content: "";
            display: block;
            padding-top: 100%
        }

        .main-navigation-devices-3qGvllD canvas {
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            position: absolute
        }

        .start-navigation-mpSwQLo {
            position: relative;
            height: 100vh;
            overflow: hidden
        }

        .start-navigation-mpSwQLo.is-menu-open-tWR1BDB {
            pointer-events: none
        }

        .slide-background-1PTG4We {
            background: #9396a2;
            visibility: hidden;
            -webkit-transition: visibility 0ms linear 1.4s;
            transition: visibility 0ms linear 1.4s
        }

        .slide-background-1PTG4We.is-active-2N9axLM {
            z-index: 1;
            visibility: visible;
            -webkit-transition-delay: 0ms;
            transition-delay: 0ms
        }

        .slide-background-1PTG4We:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: #313238;
            opacity: .4
        }

        .items-wrapper-15nm4K1 {
            top: 25%;
            bottom: 25%;
            left: 0;
            right: 0;
            max-height: 80vh;
            position: absolute;
            z-index: 1
        }

        .items-1C6Vg7Z {
            position: relative
        }

        .items-1C6Vg7Z,.items-1C6Vg7Z li {
            height: 100%;
            width: 100%;
            top: 0;
            left: 0
        }

        .items-1C6Vg7Z li {
            position: absolute;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center
        }

        .item-content-3QiB40w {
            position: relative
        }

        .item-title-mLPYBSJ {
            position: relative;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none
        }

        .item-title-mLPYBSJ span {
            display: block;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: currentColor;
            -webkit-text-fill-color: transparent;
            -webkit-transition: -webkit-transform .3s cubic-bezier(.25,.46,.45,.94);
            transition: -webkit-transform .3s cubic-bezier(.25,.46,.45,.94);
            transition: transform .3s cubic-bezier(.25,.46,.45,.94);
            transition: transform .3s cubic-bezier(.25,.46,.45,.94),-webkit-transform .3s cubic-bezier(.25,.46,.45,.94);
            cursor: pointer;
            -webkit-transform: translateZ(0);
            transform: translateZ(0)
        }

        .item-title-mLPYBSJ span:after {
            content: attr(data-title);
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: -webkit-gradient(linear,left top,right top,from(#fff),color-stop(45%,#fff),color-stop(55%,hsla(0,0%,100%,0)));
            background-image: linear-gradient(90deg,#fff,#fff 45%,hsla(0,0%,100%,0) 55%);
            background-position: 0 0;
            background-size: 220% 100%;
            -webkit-transform-origin: 50% 80%;
            transform-origin: 50% 80%;
            -webkit-transition: background-position .3s cubic-bezier(.25,.46,.45,.94),opacity 1s cubic-bezier(.455,.03,.515,.955);
            transition: background-position .3s cubic-bezier(.25,.46,.45,.94),opacity 1s cubic-bezier(.455,.03,.515,.955)
        }

        .item-title-mLPYBSJ.is-in-active-2vqvnK- span {
            -webkit-transform: scale(1)!important;
            transform: scale(1)!important
        }

        .item-title-mLPYBSJ.is-in-active-2vqvnK- span:after {
            opacity: 0
        }

        .item-title-mLPYBSJ.is-in-active-2vqvnK-.is-in-active-hovered-SJ_7YYs span:after {
            -webkit-transition-duration: .4s,.4s;
            transition-duration: .4s,.4s;
            opacity: 1;
            background-position: 0 0!important
        }

        .item-title-mLPYBSJ.is-active-2N9axLM span {
            -webkit-transform: scale(1.1);
            transform: scale(1.1)
        }

        .item-title-mLPYBSJ.is-active-2N9axLM span,.item-title-mLPYBSJ.is-active-2N9axLM span:after {
            -webkit-transition-duration: .5s;
            transition-duration: .5s;
            -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
            transition-timing-function: cubic-bezier(.455,.03,.515,.955)
        }

        .item-title-mLPYBSJ.is-active-2N9axLM span:after {
            background-position: 100% 0
        }

        .item-subtext-wNWZqWz,.item-subtitle-2_PRMde {
            position: absolute;
            top: 100%;
            left: 50%;
            -webkit-transform: translate(-50%);
            transform: translate(-50%);
            width: 80vw;
            max-width: 18.57143em;
            text-align: center
        }

        @media (min-width: 680px) {
            .item-subtitle-2_PRMde {
                width:auto;
                max-width: none;
                text-align: left;
                white-space: nowrap
            }

            .next-mNE2mCE,.previous-wElckdt {
                width: 40%
            }

            .planet-size-2CphAo5 {
                bottom: -10%
            }
        }

        @media (min-width: 940px) {
            .planet-size-2CphAo5 {
                bottom:5%
            }
        }

        .no-touchevents .drag-trigger-2rAGl5O {
            display: none
        }


        @media (max-width: 1280px) {
             .lst-cont-cols {
                width: 100%;
                display: block;
                position: absolute;
            }

            .lst-cont-col {
                resize: both;
                flex-basis: calc(50%); /* Adjust the width and add margins as needed */
                box-sizing: border-box;
                flex: 1;
            }



            .lst-cont-col {
                display: flex;
                flex-wrap: wrap;
                height: auto;
                flex-direction: column;
                width: 100%;
            }
        }

        @media (min-width: 1280px) {
            .lst-cont-cols {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            .lst-cont-col {
                resize: both;
                flex-basis: calc(50%); /* Adjust the width and add margins as needed */
                box-sizing: border-box;
                flex: 1;
            }

            .lst-cont-col {
                width: auto;
                height: 60vh;
                position: relative
            }
        }

        .lst-cont-cols {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .lst-cont-col {
            resize: both;
            flex-basis: calc(50%); /* Adjust the width and add margins as needed */
            box-sizing: border-box;
            flex: 1;
        }

        .lst-cont-col {
            width: auto;
            height: 60vh;
            position: relative
        }

    </style>
    <div class="container-wrapper" id="about-page"></div>
    <div class="lst-cont-cols">
        <div class="lst-cont-col glass-block"></div>
        <div class="lst-cont-col devices-block">
            <div class="main-navigation-devices-3qGvllD" style="visibility: inherit; opacity: 1;">
              <canvas id="canvas-anim" style="position: absolute; left: 0px; top: 0px; width: 328px; height: 328px;" width="410" height="410">
              </canvas>
            </div> 
            <div class="items-wrapper-15nm4K1">
                <ul class="items-1C6Vg7Z" style="top: -686px;">
                    <li style="transform: matrix(1, 0, 0, 1, 0, 686); opacity: 1;">
                        <div class="item-content-3QiB40w" style="">
                            <h1 class="heading-xl item-title-mLPYBSJ">
                                <span data-title="Design">Design</span>
                            </h1> 
                            <p class="copy-l item-subtext-wNWZqWz" style="">
                                Our solutions leverage technology to help clients tackle their business challlenges.
                            </p>
                        </div>
                        <div class="abs-fill drag-trigger-2rAGl5O" id="target"></div>
                    </li>
                    <li style="transform: translate(-30%, 0%) matrix(1, 0, 0, 1, 0, 1029); opacity: 0.4;">
                        <div class="item-content-3QiB40w" style="">
                            <h1 class="heading-xl item-title-mLPYBSJ is-in-active-2vqvnK-">
                                <span data-title="Develop">Develop</span>
                            </h1> 
                            <p class="copy-l item-subtext-wNWZqWz" style="visibility: hidden; opacity: 0;">
                            Employing machine learning to improve prediction models usin huge amount of data.
                            </p>
                        </div> 
                        <div class="abs-fill drag-trigger-2rAGl5O"></div>
                    </li>
                    <li style="transform: translate(30%, 0%) matrix(1, 0, 0, 1, 0, 436); opacity: 0.4;">
                        <div class="item-content-3QiB40w">
                            <h1 class="heading-xl item-title-mLPYBSJ is-in-active-2vqvnK-">
                                <span data-title="Vision">Vision</span>
                            </h1> 
                            <p class="copy-l item-subtext-wNWZqWz" style="visibility: hidden; opacity: 0;">
                            Using deep learning to better account for space-weather events by enhancing solar-observation data.
                            </p>
                        </div> 
                        <div class="abs-fill drag-trigger-2rAGl5O"></div>
                    </li>
                </ul>
                <div style="transform: translate3d(0px, 0px, 0px); cursor: move; touch-action: pan-x; user-select: none;">
                </div>
                 <button title="previous" class="previous-wElckdt"></button> 
                 <button title="next" class="next-mNE2mCE"></button> 
            </div> <!----> 
        </div>
    </div>
    <script type="module" src="{% static 'src/js/global/LookingGlass.js' %}"></script>
    <script type="module" src="{% static 'src/js/global/Anim.js' %}"></script>
{% endblock %}
</body>




