{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
  <title>&lt;model-viewer&gt; example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing+Script">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <link rel="stylesheet" href="{% static 'src/css/global/main-three.css' %}"> 
<style>
  model-viewer {
    width: 100%;
    height: 80vh; /* Use viewport height (vh) for responsiveness */
  }
</style>
</head> 
<body>
  <div class="container">
    <header>
      <div class="menu-toggle" data-js="menu-toggle">
        <span class="menu-toggle-grippy">Toggle</span>
        <span class="menu-toggle-label">Menu</span>
      </div>
      <button id="returnButton" class="return-button">Return</button>
    </header>    
  <div class="hidden-panel">
      <span class="hidden-panel-close" data-js="hidden-panel-close">Close</span>
      <div class="hidden-panel-content">
        <div class="hidden-panel-nav">
          <h3>DEMO AR</h3>
          <ul>
            <button class="dropdown-btn">View Options
            <i class="fa fa-caret-down"></i>
            </button>
              <div class="dropdown-container">

                <a href="{% url 'normal_ar_page' %}" accesskey="normalAR">Normal View</a>
                <a href="threeJS.html?page=dimensionAR" accesskey="dimensionAR">Dimension View</a>
                <a href="threeJS.html?page=cameraAR" accesskey="cameraAR">Camera View</a>
                <a href="threeJS.html?page=clippingAR" accesskey="clippingAR">CLipping View</a>
              </div>

             <button class="dropdown-btn">Effect Options
            <i class="fa fa-caret-down"></i>
            </button>
              <div class="dropdown-container">
                <a href="threeJS.html?page=lightAR" accesskey="lightAR">Lighting View</a>
                <a href="#">Texture Options</a>
                <a href="#">Render Exposure</a>
              </div>
            <button class="dropdown-btn">Material Options
            <i class="fa fa-caret-down"></i>
            </button>
              <div class="dropdown-container">

                <a href="#">Material Texture</a>
                <a href="#">Render Exposure</a>
              </div>
            <button class="dropdown-btn">Animation Show
            <i class="fa fa-caret-down"></i>
            </button>
              <div class="dropdown-container">
                <a href="threeJS.html?page=animationAR" accesskey="animationAR">Construction Progress</a>
                <a href="#">Material Texture</a>
                <a href="#">Render Exposure</a>
              </div>
      </div>
    </div>
    </div>
    <section class="banner" role="banner" id="contentSection">
    <model-viewer id="pickMaterial" shadow-intensity="1" camera-controls touch-action="pan-y" disable-tap src="../static/src/assets/media/gltf/sunflower/sunflower.gltf" ar ar-modes="webxr scene-viewer" scale="0.001 0.001 0.001" alt="A Material Picking Example">
</model-viewer>
</section>
<script>
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>
<script>
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;
for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}
</script>
<script>
/**
 * This is not an actual script, but an API declaration made prettier with JS syntax highlighting.
*/

interface Model {
  /**
    * An ordered set of unique Materials found in this model. The Materials
    * correspond to the listing of materials in the glTF, with the possible
    * addition of a default material at the end.
    */
  readonly materials: Material[];

  // Returns the first material to whose name matches 'name'.
  getMaterialByName(name: string): Material|null;
}

interface Material {
  name: string;

  // Returns the glTF index of this material.
  readonly index: number;
  readonly normalTexture: TextureInfo|null;
  readonly occlusionTexture: TextureInfo|null;
  readonly emissiveTexture: TextureInfo|null;
  readonly emissiveFactor: RGB;
  readonly pbrMetallicRoughness: PBRMetallicRoughness;

  setEmissiveFactor(rgb: RGB|string): void;
  setAlphaCutoff(cutoff: number): void;
  getAlphaCutoff(): number;
  setDoubleSided(doubleSided: boolean): void;
  getDoubleSided(): boolean;
  setAlphaMode(alphaMode: AlphaMode): void;
  getAlphaMode(): AlphaMode;
}

interface PBRMetallicRoughness {
  readonly baseColorFactor: RGBA;
  readonly metallicFactor: number;
  readonly roughnessFactor: number;
  readonly baseColorTexture: TextureInfo|null;
  readonly metallicRoughnessTexture: TextureInfo|null;
  
  setBaseColorFactor(rgba: RGBA|string): void;
  setMetallicFactor(value: number): void;
  setRoughnessFactor(value: number): void;
}

interface TextureInfo {
  readonly texture: Texture|null;

  /**
   * Sets the texture, or removes it if argument is null. Note you cannot build
   * your own Texture object, but must either use one from another TextureInfo,
   * or create one with the createTexture method.
   */
  setTexture(texture: Texture|null): void;
}

interface Texture {
  readonly name: string;
  readonly sampler: Sampler;
  readonly source: Image;
}

interface Sampler {
  readonly name: string;
  readonly minFilter: MinFilter;
  readonly magFilter: MagFilter;
  readonly wrapS: WrapMode;
  readonly wrapT: WrapMode;

  setMinFilter(filter: MinFilter): void;
  setMagFilter(filter: MagFilter): void;
  setWrapS(mode: WrapMode): void;
  setWrapT(mode: WrapMode): void;
  setRotation(rotation: number|null): void;
  setScale(scale: Vector2|null): void;
  setOffset(offset: Vector2|null): void;
}

interface Image {
  readonly name: string;

  /**
    * The type is 'external' if the image has a configured URI. Otherwise, it is
    * considered to be 'embedded'. Note: this distinction is only implied by the
    * glTF spec, and is made explicit here for convenience.
    */
  readonly type: 'embedded'|'external';

  // The URI of the image, if it is external.
  readonly uri?: string;

  // The bufferView of the image, if it is embedded.
  readonly bufferView?: number

  // The backing HTML element, if this is a video or canvas texture.
  readonly element?: HTMLVideoElement|HTMLCanvasElement;

  // The Lottie animation object, if this is a Lottie texture.
  readonly animation?: AnimationItem;

  /**
    * A method to create an object URL of this image at the desired
    * resolution. Especially useful for KTX2 textures which are GPU compressed,
    * and so are unreadable on the CPU without a method like this.
    */
  createThumbnail(width: number, height: number): Promise<string>;

  /**
   * Only applies to canvas textures. Call when the content of the canvas has
   * been updated and should be reflected in the model.
   */
  update(): void;
}

interface Vector2 {
  readonly x: number;
  readonly y: number;
}

type RGBA = [number, number, number, number];
type RGB = [number, number, number];
type AlphaMode = 'OPAQUE'|'MASK'|'BLEND';

enum WrapMode {
  ClampToEdge = 33071,
  MirroredRepeat = 33648,
  Repeat = 10497,
}

enum MinFilter {
  Nearest = 9728,
  Linear = 9729,
  NearestMipmapNearest = 9984,
  LinearMipmapNearest = 9985,
  NearestMipmapLinear = 9986,
  LinearMipmapLinear = 9987,
}

enum MaxFilter {
  Nearest = 9728,
  Linear = 9729,
}
</script>

<script src="{% static 'src/js/components/arvr/main-AR.js' %}"></script> 
<script src="{% static 'src/js/components/arvr/material.js' %}"></script> 
</body>
</html>
