{% load static %} 
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='chrome=1'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='twitter:card' content='summary'>
    <meta name='twitter:title' content='HELPERS'>
    <meta name='twitter:description' content='Overview of how the WebXR samples are designed'>
    <link rel='icon' type='image/png' sizes='32x32' href='favicon-32x32.png'>
    <link rel='icon' type='image/png' sizes='96x96' href='favicon-96x96.png'>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/pygment_trac.css' %}"> 

    <style>
      h3 {
        font-size: 1.0em;
        margin-top: 2em;
      }

      .github-link {
        font-size: 0.8em;
      }
    </style>

    <!--[if lt IE 9]>
    <script src='https://html5shiv.googlecode.com/svn/trunk/html5.js'></script>
    <![endif]-->
    <title>HELPERS</title>
  </head>
  <body>

    <div class='container' id='container'>
      <header class='header'>
        <div id='nav'>
            <a href='./' class='selected'>Helpers</a>
        </div>

        <h1><a href='' class='wordmark'><span>HELPERS</span></a></h1>
        <h2 class='tagline'>BETA VERSION</h2>
      </header>

      <main class='main' id='main'>
        <h3>What is Helper?</h3>
        <p>Helper is an initiative of AIGeniusX that helps connect helpers and needies.</p>

        <h3>Who this app is for?</h3>
        <p>The app is designed to help anyone who wants to help and who needs help. This app is only available in Android as of now. The web and IOS versions will be released in the near future.</p>

        <p>THIS APP IS ONLY AVAILBLE TO ANDROID USERS AS OF NOW</p>

        <h3>How are they formatted?</h3>
        <p>The samples are provided as web pages with heavily commented JavaScript code. Each page covers a single, targeted topic relating to API use. Code that has already been well commented in a previous sample will typically not be commented in subsequent samples in order to make it easier to focus on the newly introduced concepts, so if you see an uncommented code block that you don't understand check the previous samples and you will probably find the explanation that you're looking for.</p>

      </main>

      <footer class='footer'>
      </footer>
    </div>
  </body>
</html>
